%__font-14{
    font-size: 14px;
}
%__font-16{
    font-size: 16px;
}
$colors: (
    title-01: #0366d6,
    back-01: #eaecef
);

#title{
    width: 1012px;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
}
#main{
    width: 1012px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    [class*=col-]{
        padding-right: 16px;
        padding-left: 16px;
    }

    .col-3{
        width: 20%;
    }
    .col-1{
        width: 75%;
    }
}

#left{
    position: fixed;
    left: calc(50% - 506px);
    top: 40px;
    .left-name{
        &__name{
            font-size: 24px;
        }
    }
    .left-appeal{
        &__text{
            font-size: 14px;
        }
    }
}

#right{
    width: 100%;
    margin-left: 32%;
    .right{
        &-inner{
            margin-top: 60px;
        }
        &-title{
            margin-top: 80px;
            color: map-get($colors, 'title-01');
            font-size: 22px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .careers{
        margin-bottom: 24px;
        .year{
            @extend %__font-14;
            font-weight: normal;
            position: relative;
            &:after{
                content: "";
                width: 100%;
                position: absolute;
                height: 1px;
                background-color: #e1e4e8;
                display: block;
                margin: auto;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
            &-inner{
                padding-right: 16px;
                background-color: #fff;
            }
        }
        .affiliation{
            @extend %__font-16;
            margin-bottom: 12px;
            font-weight: bold;
            &-info{
                @extend %__font-14;
                margin-top: 12px;
                margin-bottom: 24px;
            }
        }
        &-body{
            padding-left: 24px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                display: block;
                width: 2px;
                height: 100%;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 8px;
                background-color: #e1e4e8;
            }
        }
    }
    .right-body__table{
        border-collapse: collapse;
        line-height: 1;
    }
    .table{
        &-rows{
            border: 1px solid map-get($colors, 'back-01');
        }
        &-left{
            font-weight: bold;
            text-align: center;
            padding: 16px 0;
            border-right: 1px solid map-get($colors, 'back-01');
            background-color: map-get($colors, 'back-01');
        }
        &-right{
            padding-left: 16px;
        }
        &-all{
            padding: 0 16px
        }
    }
}